<footer>

    <section class="nav-footer">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos/detalle">Productos</a></li>
        </ul>
        <ul>
            <li><a href="/nosotros/about">Nosotros</a></li>
            <li><a href="/nosotros/contacto">Contacto</a></li>
        </ul>
    </section>
    <section class="icon-mapa">
        
        <article class="icons-footer">
            <ul>
                <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-whatsapp"></i></a></li>
                <li><a href="#"><i class="fas fa-play-circle"></i></a></li>
            </ul>
        </article>

    </section>
    <section class="logo-footer">
        <img src="/images/Skulll.png" alt="">
    </section>
</footer>