<footer>

    <section class="nav-footer">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos/detalle">Productos</a></li>
        </ul>
        <ul>
            <li><a href="/nosotros/about">Nosotros</a></li>
            <li><a href="/nosotros/contacto">Contacto</a></li>
        </ul>
    </section>
    <section class="icon-mapa">
        
        

    </section>
    <section class="logo-footer">
        <img src="/images/Skulll.png" alt="">
    </section>
</footer>