<header class="header">
    <div class="content-header">
        <div class="burger">
            <i class="fas fa-bars"></i>
         </div>

    <a href="/" class="logo">
        <img src="/images/ATOMIC.jpg" alt="logo skull tienda urbana" >
    </a>


    

    <nav class="nav-desktop">
        <ul>
            <li><a class="etiquetaa" href="#">Inicio</a></li>
            <li><a class="etiquetaa" href="#">Beneficios</a></li>
            <li><a class="etiquetaa" href="#">Planes</a></li>
            <li><a class="etiquetaa" href="#">Contacto</a></li>
            
        </ul>
        

    </nav>
    <div class="boton-wallet"><a href="#" class="botona">Conecta tu wallet</a></div>
</div>
</header>