<header class="header">
    <div class="content-header">
       

    <a href="/" class="logo">
        <img src="/images/ATOMIC.jpg" alt= >
    </a>


    
    <button class="abrir-menu" id="abrir"><i class="fas fa-bars" ></i></button>
    
    <nav class="nav-desktop" id="nav">
       
        
        <ul>
            <button class="cerrar-menu" id="cerrar"><i class="fas fa-times"></i></button>
            <li><a class="etiquetaa" href="/">Inicio</a></li>
            <li><a class="etiquetaa" href="/beneficios">Beneficios</a></li>
            <li><a class="etiquetaa" href="/planes">Planes</a></li>
            <li><a class="etiquetaa" href="/contacto">Contacto</a></li>
            
        </ul>
        

    </nav>
    <div class="boton-wallet"><a href="#" class="botona">Conecta tu wallet</a></div>
</div>
<script src="./javascript/menu.js"></script>
</header>