<header class="header">
    <div class="content-header">
       

    <a href="/" class="logo">
        <img src="/images/ATOMIC.jpg" alt= >
    </a>


    

    <nav class="nav-desktop">
        <button class="abrir-menu">abrir</button>
        <ul>
            <li><a class="etiquetaa" href="/">Inicio</a></li>
            <li><a class="etiquetaa" href="/beneficios">Beneficios</a></li>
            <li><a class="etiquetaa" href="/planes">Planes</a></li>
            <li><a class="etiquetaa" href="/contacto">Contacto</a></li>
            
        </ul>
        

    </nav>
    <div class="boton-wallet"><a href="#" class="botona">Conecta tu wallet</a></div>
</div>
</header>