<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'beneficios'}) %> 
<body>
    <%- include('./partials/header') %>
    <main class="beneficios">
        <img src="/images/beneficios.jpg" alt="">
    </main>
</body>
</html>