<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head',{title: 'beneficios' }) %>

    <body>
        <%- include('./partials/header') %>
            <main class="beneficios">
                <section class="parrafos">
                    <div class="parrafo-1">
                        <h1>APRENDE DESDE CERO <br> Y EN POCO TIEMPO</h1>
                        <h3>En atomic aprenderás completamente desde cero y sin <br> necesidad de conocimiento previo.
                            Rapidamente sabrás <br> las cosas mas básicas como lo que es un Exchange y una <br>
                            Criptomoneda, entenderás conceptos econónomicos como <br> la inflación y como superarla sin
                            ser arrastrado por la gran <br> ola devaluativa, y teminrás con los conocmientos <br>
                            necesarios para poder interactuar y operar en el mercado <br> de forma autónoma e
                            independiente. <br> Entenderás diversas etrategias que te generen <br> rentabilidades y que
                            mantengan tu poder adquisitivo. <br> Aprenderás todo esto en menos de 3 meses mediante
                            <br>clases y tutoriales semanales.</h3>
                    </div>
                    <div class="parrafo-2">
                        <h1>Beneficios exclusivos</h1>
                        <h3>Gana merchandising, entradas a eventos, descuentos en <br> plataformas y mucho mas con
                            nuestro sistema de sorteos y <br> alianzas.</h3>
                    </div>
                </section>
                <section class="imagen-bit">
                    <img class="bitcoin" src="/images/bitcoin.jpg" alt="">
                </section>



            </main>
    </body>

</html>