<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'Contacto'}) %> 
<body>
    <%- include('./partials/header') %>
<main class="contacto">
    <img src="/images/contacto-1.jpg" alt="">
    <img src="/images/contacto-2.jpg" alt="">
</main>
</body>
</html>