<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{title: 'Home'}) %> 
   

<body class="home">
    <%- include('./partials/header') %>
 
    <main class="main-home">
       
        <section class="section-1">
            <h2>¿QUE ES ATOMIC?</h2>
            <h1>FINTECH DEFI</h1>
            <h3>Atomic es una empresa dedicada el mundo defi <br>
                enfacodo en el publico latino, con el fin de <br>
                 brindar las herramientas necesarias para que <br>
                cada individuo pueda operar su capital de <br>
                manera autonoma y profesional. </h3>
                <div class="boton-parte"><a class="se-parte" href="#">SE PARTE</a></div>
        </section>
        <section class="section-2">
            <div>
                <h1>Minimos <br>
                     Garatntizados
                </h1>
                <h4>Aprende y aplica las herramientas <br>
                   de forma correcta y obtene <br>
                   rentabilidades minimas <br>
                   garantizadas y en dolares. 
                </h4>
            </div>
            <div class="estrategias">
                <h1>Estrategias sin <br>
                riesgo de perdida</h1>
                <h4>
                    Mantén tu capital a salvo operando <br>
                     con estrategias seguras y sin riesgos de <br>
                     perdida para principiantes.
                </h4>
            </div>
            <div>
                <h1>100% de <br> legalidad </h1>
                <h4>
                    Has todas tus operaciones de <br>
                    forma totalmente legal y de <br>
                    manera balnqueada.
                </h4>
            </div>
            
        </section>
        <section class="section-3">

        </section>

</main>
<%- include('./partials/footer') %> 
    
</body>

</html>