<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'planes'}) %> 
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <%- include('./partials/header') %>
    <main class="planes">
       
<section class="section-planes">
    <h1>Planes</h1>
    <h3>Selecciona el plan que mas se adapte a ti, en todos aprenderás las mismas <br> herramientas, sin embargo no todos poseén los mismos beneficios.</h3>
</section>
<section class="section-casillas">
    <div class="casilla-1">
        <h2>Lite</h2>
        <ul>
            <li class="gris">Clases en vivo online</li>
        </ul>
    </div>
    <div class="casilla-2">
        <h2>Clasico</h2>
        <ul>
            <li class="gris">Clases en vivo online</li>
            <li class="amarillo">Clases de tutoriales semanales</li>
            <li class="amarillo">Grupo soporte 24hrs</li>
            <li class="amarillo">Participación de Sorteos <br> exclusivos dd alumnos.</li>
        </ul>
    </div>
    <div class="casilla-3">
        <img src="" alt="">
        <ul>
            <li class="gris">Clases en vivo online</li>
            <li class="gris">Clases de tutoriales semanales</li>
            <li class="gris">Grupo soporte 24hrs</li>
            <li class="amarillo">Participación de sorteos <br> premium</li>
            <li class="amarillo">Mentorias individuales privadas</li>
            <li class="amarillo">Grupo vip de asesores</li>
            <li class="amarillo">Posibilidad de sumarte al staff</li>
        </ul>
    </div>
</section>
<section class="section-comunicate">
    <h3>Comunícate desde la opcion de <a href="">contactos</a> si deseas adquirir un plan o si quieres mas <br> información de los mismos.</h3>
</section>
        
        
    </main>
    
</body>
</html>