<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head',{title: 'planes'}) %> 
    <link rel="stylesheet" href="/css/styles.css">
<body>
    <%- include('./partials/header') %>
    <main class="planes">
       
<img src="/images/planes.jpg" alt="">
        
        
    </main>
    
</body>
</html>