@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;500&family=Roboto:wght@500&display=swap');



.contacto{
    background-color: black;
    font-family: 'Montserrat', sans-serif;

}

.contacto .formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10%;
}
.contacto .formulario .titulo-contacto h1,h3{
    text-align: center;
}
.contacto .formulario .titulo-contacto h1{
    color: white;
    font-size: 40px;
    margin: 2%;
}
.contacto .formulario .titulo-contacto h3{
    color: darkgray;
    font-size: 14px;
    padding-bottom: 2%;
}
.contacto .articulo-formulario{
    width: 60%;
}

.contacto .formulario .formulario-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacto .formulario .formulario-form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.contacto .formulario .formulario-form .edad-localidad{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}
.contacto .formulario .formulario-form input{
    margin: 2%;
    height: 30px;
    border-radius: 8px;
}
.contacto .formulario .formulario-form textarea{
    margin: 2%;
    
    border-radius: 8px;
}
.contacto .formulario .formulario-form .localidad{
margin: 4%;
}
.contacto .formulario .formulario-form .edad{
    margin: 4%;
    }

/*boton*/
.contacto .formulario .formulario-form .boton-wallet {
    display: flex;
    justify-content: center;
    width: 40%;
    margin: 1%;
    border-radius: 10px;
}


.contacto .formulario .formulario-form .boton-wallet .botona:hover::after{
    background-position: 100%;
    filter: blur(15px);
}
.contacto .formulario .formulario-form .boton-wallet .botona::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, yellow, gold, rgb(255, 255, 255), rgb(255, 255, 255), gold, yellow);
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
}
.contacto .formulario .formulario-form .boton-wallet .botona:hover::before{
    background-position: 100%;
}
.contacto .formulario .formulario-form .botona{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    z-index: 2;
    height: 44px;
    width: 100%;
    text-shadow: 2px 1px 3px #000000ad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px ;
}
.contacto .formulario .formulario-form .div-boton{
    width: 100%; 
    display: flex;
    align-items: center;
    margin-bottom: 10%;
}








.contacto .conexion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contacto .conexion .qr{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}

.contacto .conexion .qr .texto-qr h1{
    font-size: 40px;
    margin: 0% 0% 3% 0%;
    
}

.contacto .conexion .qr .linktree{
    color: #ffde59;
    margin: 2%;
}



.contacto .conexion .qr .texto-qr h3{
    font-size: 14px;
    color: #ffde59;
}

.contacto .conexion .redes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 42%;
}
.contacto .conexion .redes .instagram , .telegram , .email{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: black;
}
.contacto .conexion .redes div .texto-telegram , .texto-instagram , .texto-email{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacto .conexion h1,h2,h3,h4, i{
    color: white;
}

.contacto section img{
    width: 100%;
    padding-top: 10%;
}
.contacto .conexion  i{
    color: white;
    font-size: 66px;
    padding-right: 2%;
}

.conexion .qr .imagen-qr {
    width: 50%;
    padding-top: 20%;
}

.contacto .conexion .redes h2{
    color: #ffde59;
    margin-bottom: 2%;
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;
}





.contacto .conexion .redes .email:hover{
    position: relative;
    transform: scale(1.5);
    transition: all 0.5s;
    z-index: 10;
}

.contacto .conexion .redes .telegram:hover{
    position: relative;
    transform: scale(1.5);
    transition: all 0.5s;
    z-index: 10;
}

.contacto .conexion .redes .instagram:hover{
    position: relative;
    transform: scale(1.5);
    transition: all 0.5s;
    z-index: 10;
}

@media (min-width: 1000px){
    .contacto .formulario .formulario-form input {
        margin: 2%;
        height: 50px;
        border-radius: 8px;
        padding: 3%;
        font-size: 20px;
    }
    .contacto .formulario .formulario-form textarea {
        font-size: 20px;
        padding: 2%;
    }
    .contacto .formulario .titulo-contacto h1 {
        font-size: 60px;
    }
    .contacto .formulario .titulo-contacto h3 {
        font-size: 22px;
    }
    
    
}

@media (min-width: 1200px){
    .contacto .conexion .qr .texto-qr h3{
        font-size: 22px;
    }
    .contacto .conexion .qr .texto-qr h1{
        font-size: 60px;
    }
    .conexion .qr .imagen-qr{
        width: 52%;
    }
    .contacto .conexion .qr .linktree {
        font-size: 22px;
    }
    .contacto .conexion .redes h2{
        font-size: 50px;
    }
    .contacto .conexion h4{
        font-size: 20px;
    }
    .contacto .conexion i{
        font-size: 140px;
    }
}