
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto:wght@500&display=swap');

 .home main{
background-color: black;
background-image: url("/images/fondo-atomicc.png");
background-repeat: no-repeat;
background-size: 80%;
background-position-x: 100%;
background-position-y: -45%;
}
.home img{
    width: 100%;
}
.home main .section-1{
    display: flex;
    flex-direction: column;
    color: white;
    padding-left: 5%;
    padding-top: 17%;
}
.home main .section-1 h2{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}
.home main .section-1 h1{
    margin: 1% 0;
    font-size: 314%;
}
.home main .section-1 h3{
    color: #fffffff2;
    font-weight: lighter;
}
/* boton se parte */

.home main .section-1 .boton-parte{
    display: flex;
    justify-content: center;
    width: 20%;
    margin: 1%;

}
.home main .section-1 .boton-parte .se-parte:hover::after{
    background-position: 100%;
    filter: blur(15px);
}
.home main .section-1 .boton-parte .se-parte::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: linear-gradient(90deg, yellow, gold, rgb(255, 255, 255), rgb(255, 255, 255), gold, yellow);
    background-size: 300%;
    border-radius: 5px;
    z-index: -1;
}

.home main .section-1 .boton-parte .se-parte.header .content-header .boton-wallet .botona:hover::before{
    background-position: 100%;
}
.se-parte{
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    z-index: 2;
    height: 50px;
    width: 100%;
    text-shadow: 2px 1px 3px #000000ad;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px ;
}



.home main .section-2{
    display: flex;
    flex-direction: row;
     color: white;
     justify-content: space-around;
     padding-top: 30%;
     padding-bottom: 22%;
}
.homemain .section-2 .estrategias{

}


/* Tablet */

@media (min-width: 426px){

}

/* Desktop */

@media (min-width: 769px){
   

}
@media (min-width: 1000px){
   .home main .section-1 h2{
    font-size: 30px;
   }
   .home main .section-1 h1{
    font-size: 63px;
   }

   .home main .section-1 h3{
    font-size: 18px;
   }}

   @media (min-width: 1500px){
    .home main .section-1 h2{
     font-size: 55px;
    }
    .home main .section-1 h1{
     font-size: 100px;
    }
 
    .home main .section-1 h3{
     font-size: 26px;
    }

    @media (min-width: 1500px){
   .home main{
    background-position-y: -25%;
   }

    }


}